{% extends "base.html" %}
{% block title %}Login page{% endblock %}

{% block content %} 
<!-- action=# oznacza ze po uzupenieniu forma zostajemy na tej samej stronie-->
<!-- metoda post bo bedziemy z tego forma wysylac dane a nie przyjmowac-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form action="#" method="post">
    <p>Name: </p>
    <p><input type="text" name="nm"/></p>
    <p><input type="submit" value="submit"/></p>
</form>
{% endblock %}
